@use '../global' as *;

.body-realisation {
    background-color: color(primary, bleu);

}

.main-realisation {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(80);
    position: relative;

    @media screen and (max-width: 980px) {
        grid-template-columns: 1fr;
    }

    .background-realisation {
        display: block;
        position: absolute;
        z-index: 1;
        width: 90vw;
        max-width: rem(1720);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 980px) {
            display: none;
        }

        &-mobile {
            display: none;

            @media screen and (max-width: 980px) {
                display: block;
                position: absolute;
                z-index: 1;
                width: 95vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }
    }

    .illustrations {
        display: flex;
        justify-content: space-between;

        margin: {
            top: rem(80);
        }

        @media screen and (max-width: 980px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            margin: {
                top: rem(24);
                bottom: rem(40);
            }
        }

        .illustration {
            border: solid 8px color(primary, noir);
            border-radius: rem(48);
            box-shadow: rem(8) rem(8) color(primary, noir);
            cursor: pointer;
            height: fit-content;
            width: 90%;
            max-height: rem(800);

            @media screen and (max-width: 980px) {
                margin-top: 0;
                width: 40%;
                border-radius: rem(24);
                box-shadow: rem(4) rem(4) color(primary, noir);
                border: solid 4px color(primary, noir);
                max-height: 25rem;
            }

            &.illustration-1 {
                transform: rotate(-12deg);
                position: relative;
                z-index: 2;

                @media screen and (max-width: 980px) {
                    margin-top: 0;
                    left: 15vw;

                }
            }

            &.illustration-2 {
                position: relative;
                z-index: 3;
                left: -89%;

                @media screen and (min-width: 1850px) {
                    left: -40rem;
                }

                @media screen and (max-width: 980px) {
                    margin-top: 0;
                    left: 0;
                    height: max-content;
                }
            }

            &.illustration-3 {
                transform: rotate(12deg);
                position: relative;
                z-index: 4;
                left: -178%;

                @media screen and (min-width: 1850px) {
                    left: -80rem;
                }

                @media screen and (max-width: 980px) {
                    margin-top: 0;
                    height: fit-content;
                    left: -15vw;
                }
            }
        }
    }

    .brief {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: rem(48);

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media screen and (max-width: 980px) {
                align-items: flex-start;
            }

            h2 {
                background-color: color(primary, noir);
                color: color(primary, blanc);
                padding: rem(8) rem(16) rem(8) rem(16);
                border-radius: rem(30);
                font-size: rem(32);
                width: fit-content;
                margin-bottom: rem(16);
                text-align: right;

                @media screen and (max-width: 980px) {
                    text-align: left;
                    padding: rem(8) rem(12) rem(8) rem(12);
                    font-size: 2.5vh;
                }
            }

            p {
                color: color(primary, blanc);
                font-size: rem(28);
                text-align: right;

                @media screen and (max-width: 980px) {
                    text-align: left;
                    font-size: 2vh;
                }
            }

            a {
                color: color(primary, blanc);
                font-size: rem(28);
                text-align: right;
                text-decoration: underline;

                &:hover,
                &:focus {
                    color: color(primary, rose);
                    text-decoration: overline;
                    transition: .2s ease-in-out;
                }

                @media screen and (max-width: 980px) {
                    text-align: left;
                    font-size: 2vh;
                }
            }
        }
    }
}